<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src="/javascripts/ajaxForm.js" type="text/javascript" charset="utf-8" async defer></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %>!</p>
        <p>Current Season: <%= season + " " + year %></p><br><br>
        <form id="animeForm">
            <table style="text-align:center;">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Number of Episodes</th>
                    <th>Track?</th>
                </tr>
                <% animes.forEach(function(anime) { %>
                    <tr>
                        <td><img src="<%= anime.image_url_lge %>" title="<%= anime.title_romaji %>" alt="<%= anime.title_romaji %>"></td>
                        <td><%= anime.title_romaji %></td>
                        <td><%= anime.total_episodes %></td>
                        <td><input type="checkbox" name="<%= anime.id %>" value="<%= anime.title_romaji %>"></td>
                    </tr>
                <% }); %>
            </table><br>
            <input type="text" name="nickname" value="" placeholder="nickname">   <button type="button" onclick="postAsync();">Track Animes</button>
        </form>
    </body>
</html>
